<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <div id="upper-bar">
      <div class="link" id="one"><a href="/">Cattle</a></div>
      <div class="link" id="two"><a href="/shed">Shed</a></div>
      <div class="link" id="three"><a href="/grazing">Grazing</a></div>
      <div class="link" id="four"><a href="/milk">Diary Output</a></div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h1><%= title %></h1>
    <br>
    <br>
    <div id="text-part">
      <p>This service helps to track the real-time grazing locations of a herd. It will log each individual cattle's location an give real-time updates on each respective animal's position based on set geofencing and environmental stability.</p>
      <p>Once an animal reaches a location that is deemed unsafe, mitigation efforts will be put in place to guide the animal back to the herd.This service helps to track the real-time grazing locations of a herd. It will log each individual cattle's location an give real-time updates on its position based on set geofencing and environmental stability.</p>
      <p>This helps with remote monitoring efforts as well as minimises the loss of cattle.</p>
        <form>
          <label for="name">Cattle-ID</label>
          <input type="text" name="name">
          <button class="button" type="submit">Track location</button>
        </form>
      </div>
    </div>
    <br>
    <br>
    <br>
    <div id="text-part">
      <b>Location Tracking:</b>
      <%= message %>
    </div>
  </body>
</html>