<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>

    <a href="/">Shed</a>
    <a href="/news">News</a>


    <% if(error) { %>
      <%= error %>
    <% } %>

    <form action="/" method="get">
      <button type="submit">Submit!</button>
    </form>

    <!-- Ideally the alertMessage should show here after get is called when clicking on above button -->
    <b>Actions taken:</b>
    <%= alertMessage %>
  
    
  </body>
</html>


