<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>

    <a href="/">Shed</a>
    <a href="/news">News</a>

    <b>News:</b>

    <div>
        <%= category %>
        <%= news %>
    </div>
       
  </body>
</html>